---
# Layouts must stay in HTML
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="{% asset_path application.css %}">
  </head>
  <body>
    {% include header.html %}
    {% include menu.html %}
    <div class="main-content">
      {{ content }}
    </div>
    <script type="text/javascript" src="{% asset_path jquery-3.1.0.min.js %}"></script>
    <script type="text/javascript" src="{% asset_path jquery.mixitup.min.js %}"></script>
    <script type="text/javascript" src="{% asset_path application.js %}"></script>
    <script type="text/javascript">
    $(function(){
        $('#cards-container').mixItUp();
    });
    </script>
  </body>
</html>
