.beneficio{
  margin-bottom: 20px;
  .icono{
    text-align: center;
    font-size: 3em;
    i{
      color: $celeste;
    }
  }
  .descripcion{
    h1{
      margin-top: 13px;
      color: $celeste;
    }
    h2{
      font-weight: 400;
    }
  }
}
