body{
  padding-top: 0;
}
.main-content{
  @include outer-container;
}
.blue{
  background: $main-blue;
}
.gray-bg{
  background: $lighter-gray;
  padding: 4em 0;
}
.wrapper{
  @include outer-container;
}
.tasas-de-interes{
  @include span-columns(6);
}
.requisitos{
  @include span-columns(6);
}
