body{
  padding-top: 0;
}
.blue{
  background: $main-blue;
}
.gray-bg{
  background: $lighter-gray;
  padding: 4em 0;
}
.tasas-de-interes{
  th, td{
    text-align:right;
  }
  th:first-child, td:first-child{
    text-align:left;
  }
}
.section-title{
  //@include outer-container;
  margin-bottom: 40px;
  text-align: center;
  font-size: 2em;
  clear: both;
  display: block;
  width: 100%;
  color: $celeste;
}
h1, h2, h3, h4, p, a{
  font-family: 'Montserrat', sans-serif;
}
.button{
  font-size: 30px;
  &:hover{
    background: $celeste;
  }
}
.disclaimer{
  margin-top: 20px;
  text-align: center;
  font-size: 0.8em;
}
.text-center{
  text-align: center;
}
