.hero {
  background: $main-blue;
  width: 100%;
  @include clearfix;

  background: url(../images/tarjetas/fondo-nacion.jpg) no-repeat center bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-color: #032455; // Old browsers vertical); // IE6-9
  //@include background-image(linear-gradient(top, $main-blue 4%, lighten($main-blue, 13%) 100%));

  .hero-content{
    @include outer-container;
    position:relative;
  }
  .device-text {
    @include media($large-screen) {
      float: left;
      max-width: 50%;
      padding: 4em 0;
    }

    h1 {
      color: $device-text-color;
      font-size: 2.5em;
      margin: 0 0 0.5em 0;
      small{
        font-size: 0.5em;
        font-weight: 400;
      }
    }

    p {
      color: $device-text-color;
      line-height: 1.5em;
      margin-bottom: 1.5em;
      font-size: 1.3em;
    }
  }
  .device-background{

  }
  .tarjeta{
    position: absolute;
    right: 0;
    bottom: -12%;
    max-width: 400px;
    img{
      width: 100%;
    }
  }
}
