.hero {
  background: $main-blue;
  width: 100%;
  @include clearfix;

  background: url(../images/tarjetas/fondo-nacion.jpg) no-repeat center bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-color: #032455; // Old browsers vertical); // IE6-9
  //@include background-image(linear-gradient(top, $main-blue 4%, lighten($main-blue, 13%) 100%));

  .hero-content{
    @include span-columns(8);
    @include shift(2);
    position:relative;


    //background: url(../images/tarjetas/nacion_fondo_elementos.png) bottom right no-repeat;

    h1 {
      color: $device-text-color;
      font-size: 3em;
      margin: 1.4em 0 1.4em 0;
      text-align: center;
      small{
        font-size: 0.7em;
        font-weight: 400;
      }
    }

    .tarjeta{
      @include span-columns(6);
      position: relative;
      //display: none;
      img{
        position: absolute;
        top: 0;
        right: 0;
        max-width: 400px;
      }
    }
  }
  .device-text {
    @include span-columns(6);

    @include media($large-screen) {
      float: left;
      padding: 4em 0;
    }

    p {
      color: $device-text-color;
      line-height: 1.3em;
      margin-bottom:0;
      font-size: 1.3em;
      font-weight:300;
    }
  }
}
