.main-benefit{
  color: $gris_oscuro;
  //text-align: center;
  padding: 2em 0;
  border-bottom: 1px solid $light-gray;
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 2em;
  p{
    margin: 0;
    margin-bottom: 0;
    small{
      font-weight: 400;
    }
  }
}
.main-benefit-boton{
  position: relative;
  text-align: center;
  .button{
    background: $main-blue;
    &:hover{
      background: $celeste;
    }
  }
}
