header.hero{
  //@include linear-gradient($azul-oscuro, darken($azul-oscuro, 10%));
  background: url(../images/fondo-dorado.png);
  color: #fff;
  .header-content{
    @include outer-container;
    @include padding(40px 0)
  }
  h1{
    color: $blanco;
  }
  h2{
    color: $blanco;
    font-weight: 400;
    font-size: 3em;
  }
  p{
    color: $blanco;
  }
  .logo{
    background: #fff;
    padding: 30px 20px 20px 20px;
    display: inline-block;
  }
}
