header.hero{
  //@include linear-gradient($azul-oscuro, darken($azul-oscuro, 10%));
  background: url(../images/fondo-dorado.png);
  //@include margin(null null $main-spacing null);
  .header-content{
    @include outer-container;
    @include padding(40px 0)
  }
  h1{
    color: $blanco;

  }
  h2{
    color: $blanco;
  }
}
.logo{
  background: #fff;
  padding: 30px 20px 20px 20px;
  display: inline-block;
}
