.hero{
  padding: 5em 4em;
  text-align: center;
  //margin-top: 45px;
  position: relative;
  color: $blanco;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  z-index: 5;

  @include media($mobile) {
    background-image: url(https://www.baccredomatic.com/sites/default/files/cr_landing_cards_iphonebg-min.jpg);
    background-position: center top;
  }
  @include media($desktop) {
    background-image: url(https://www.baccredomatic.com/sites/default/files/cr_landing_tarjetas_custom-min_0.jpg);
    background-position: center 115px;
  }

  &:after{
    content:"";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
  }

  .fixed-text, .sliding-text{
    z-index: 15;
  }
  .fixed-text{
    font-size: 2em;
    font-weight: 700;
  }
  .sliding-text{
    font-size: 1.6em;
  }
}
