.card-box{
  @include padding($main-spacing*1.7 null);
  background: $blanco;
  color: #686868;
  font-weight: 400;
  font-size: 14px;
  border-bottom: 1px solid $gris-medio;

  h2{
    line-height: 33px;
    font-weight: 400;
    margin-bottom: 30px;
    font-weight: bold;
    color: $gris_oscuro;
    @include media($mobile) {
      font-size: 19px;
      text-align: center;
      font-weight: bold;
    }
    @include media($desktop) {
      font-size: 24px;
      text-align: center;
      margin-bottom: 40px;
      font-weight: bold;
    }
  }

  &:last-child{
    border-bottom: 0;
  }
}
.card-art{
  margin-bottom: 20px;
  img{
    max-width: 100%;
  }
  @include media($mobile) {
    text-align: center;
  }
  @include media($desktop) {
    text-align: left;
  }
}
.card-description, .card-benefits, .card-rates{
  h3{
    text-transform: uppercase;
    font-weight: bold;
    color: $base-font-color;
  }
}
.card-benefits{
  ul{
    list-style: disc;
    padding-left: 17px;
  }
}
.card-options{
  text-align: center;
  .button{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
.mas-info-container{
  display: none;

  &.shown{

  }
}
.disclaimer{
  margin-top: 10px;
  color: lighten($medium-gray, 1%);
}
.mix{
    display: none;
}
.mas-info{
  text-align: center;
}

.card-rates{
  @include media($mobile) {
    margin-bottom: 30px;
  }
  @include media($desktop) {
    margin-bottom: 0px;
  }
}
$icon-height: 43px;
.category-identifier{
    width: 34px;
    height: 36px;
    background-image: url(https://www.baccredomatic.com/sites/default/files/cr_landing_tarjetas_icons.png);
    background-position: -4px $icon-height;
    @include media($mobile) {
    }
    @include media($desktop) {
    }
    &.cashback{
      background-position: -172px $icon-height;
    }

    &.viajes{
      background-position: -60px $icon-height;
    }
    &.puntos{
      background-position: -116px $icon-height;
    }
    &.supermercados{
      background-position: -283px $icon-height;
    }
    &.otros{
      background-position: -228px $icon-height;
      width: 35px;
    }
    &.todas{
      background-position: -4px $icon-height;
    }
}
h2{
  .category-identifier{
    display: inline-block;
    float: none;
    margin-bottom: -10px;
    margin-left: 10px;
  }
  br{
    display: none;
  }
}
.card-title{
  div, h2{
    display: inline-block;
  }
}
.btn-border{
  border: solid 1px;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  display: inline-block;
}
