.card-box{
  @include padding($main-spacing*1.7 null);
  background: $blanco;
  color: #686868;
  font-weight: 400;
  font-size: 14px;
  border-bottom: 1px solid $gris-medio;

  h2{
    font-size: 24px;
    line-height: 33px;
    font-weight: 400;
    margin-bottom: 30px;
  }

  &:last-child{
    border-bottom: 0;
  }
}
.card-art{
  img{
    max-width: 100%;
  }
}
.card-description{
  h3{
    text-transform: uppercase;
  }
}
.card-benefits{
  h3{
    text-transform: uppercase;
  }
}
.card-options{
  text-align: center;
  .button{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
.mas-info-container{
  display: none;

  &.shown{

  }
}
.disclaimer{
  margin-top: 10px;
  color: lighten($medium-gray, 1%);
}
.mix{
    display: none;
}
.mas-info{
  text-align: center;
}
