ul.niveles{
  li{
    display: inline-block;
    margin-right: 5px;
    padding: 2px 5px;
    border-radius: 5px;

    &:before{
      content: 	"";
      height: 0.8em;
      width: 0.8em;
      border-radius: 50%;
      display: inline-block;
      margin-right: 3px;
    }

    &.dorada:before{
      background-color: $dorada;
    }
    &.black:before{
      background-color: $black;
    }
    &.platino:before{
      background-color: $platino;
      color: #333;
    }
    &.clasica:before{
      background-color: $clasica;
    }
    &.premium:before{
      background-color: $premium;
    }
    &.elite:before{
      background-color: $elite;
    }
    &.infinite:before{
      background-color: $infinite;
    }
  }
}
