{% assign cantidadDeBeneficios = 4 %}
<div id="cards-container" class="cards-containter">
  {% for tarjeta in site.data.contentful.spaces.tarjetas.tarjetas %}
    <div class="card-box mix {{ tarjeta.categoria.slug }}">
      <h2>{{ tarjeta.nombre }}</h2>
      <div class="card-art">
        <img src="{{tarjeta.imagenes.imagen.url}}?w=200">
      </div>
      <div class="card-description">
        <h3>En breve</h3>
        <p>{{tarjeta.breveDescripcion | markdownify }}</p>
      </div>
      <div class="card-benefits">
        <h3>Beneficios</h3>
        <ul>
          {% for beneficio in tarjeta.beneficios limit:cantidadDeBeneficios %}
            <li>{{beneficio.titulo}}</li>
          {% endfor %}
        </ul>
        {% if tarjeta.disclaimers != blank %}
          <p class="disclaimer">{{tarjeta.disclaimers}}</p>
        {% endif %}
      </div>
      <div class="card-options">
        <a href="{{tarjeta.form}}" class="button" />Solicitar</a>
        <a href="javascript:void(0)" class="mas-info" data-target="mas-info-{{forloop.index}}">Más información</a>
      </div>
      {% include mas-info.html %}
    </div>
  {% endfor %}
</div>
