<header class="header">
  <div class="header-content">
    <div class="logo">
      <img src="https://www.baccredomatic.com/sites/all/themes/custom/foundation_bac/images/bacredomatic_logo.png" alt="Bac Credomatic Logo" />
    </div>
    <div class="legals-section">
      <ul class="legalslinks">
        <li>
          <a href="https://www.baccredomatic.com/es-cr/uso-de-cookies">Cookies</a>
        </li>
        <li>
          <a href="https://www.baccredomatic.com/es-cr/seguridad-en-nuestro-sitio">Seguridad</a>
        </li>
        <li>
          <a href="https://www.baccredomatic.com/es-cr/politica-de-privacidad">Política de privacidad</a>
        </li>
        <li>
          <a href="https://www.baccredomatic.com/es-cr/condiciones-y-terminos-de-uso">Términos y condiciones</a>
        </li>
      </ul>
    </div>
  </div>

</header>
