<div class="navigation-tarjetas" role="banner">
  <div class="navigation-wrapper">
    <div class="nav-text">
      <p>¿Qué tipo de tarjeta estás buscando?</p>
    </div>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">&#9776; ¿Qué tipo de tarjeta estás buscando?</a>
    <div class="navigation-nav">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link">
            <a  href="javascript:void(0)" class="filter" data-description="Beneficios aquí" data-titulo="¿Por qué una tarjeta Credomatic?" data-filter="all">
            <div class="nav-icon todas"></div>
            Todas
          </a>
        </li>
        {% for categoria in site.data.categorias %}
          <li class="nav-link">
            <a class="filter" data-filter=".{{categoria.slug}}" data-description="{{categoria.descripcion}}" data-titulo="{{categoria.titulo}}" href="javascript:void(0)">
              <div class="nav-icon {{categoria.slug}}"></div>
              {{categoria.titulo}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
