body {
  background-color: $main-background-color;
  color: $base-font-color;
  padding-top: 100px;
}
.hide{
  display: none;
}
.card-description h3{
  font-weight: bold;
  color: $base-font-color;
}
.card-benefits{
  h3{
    font-weight: bold;
    color: $base-font-color;
  }
  li{
    font-size: 14px;
  }
}
